.home .hero img
  width 100%!important
  max-width 600px!important
  max-height 600px!important
.custom-block.tip
  border-left-color rgb(66, 185, 131)
  border-left-style solid
  border-left-width 8px
.prev
  color #008060
.next
  color #008060
table
  width: 100%
  display: table
  table-layout: fixed
td, th
  width: auto
  white-space: normal
  overflow-wrap: anywhere
  word-break: break-word

.theme-default-content td code,
.theme-default-content th code
  white-space: normal
  overflow-wrap: anywhere
  word-break: break-word
